@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Lokalizacja:</strong> Politechnika Poznańska<br/>
    <strong>Adres:</strong> Piotrowo 3A, 60-965 Poznań<br/>
    <strong>Telefon:</strong> 61 665 34 20
</address>