@model  Repository.Models.Views.AdvertisementsListViewModel

@{
    ViewBag.Title = "Niewidzialna pomoc";
}

<h1 style="text-align:center;margin-top:100px;margin-bottom:50px;">@ViewBag.Title</h1>

@using (Html.BeginForm(FormMethod.Get))
{
    <div id="search-container" style="width:50%;margin:auto;">
        @Html.TextBoxFor(model => model.SearchModel.TitleContent, htmlAttributes: new { @class = "form-control"})
        @Html.DropDownListFor(model => model.SearchModel.LocationId, new SelectList(Model.Locations, "Id", "Name"), "", htmlAttributes: new { @class = "form-control", @style = "width:150px;" })
        <button type="submit" class="btn btn-primary">Szukaj</button>
    </div>
}