@model  Repository.Models.Views.AdvertisementsListViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Niewidzialna pomoc</h2>

@using (Html.BeginForm(FormMethod.Get))
{
    <p>
        @Html.TextBoxFor(model => model.SearchModel.TitleContent, htmlAttributes: new { @class = "form-control" })
        @Html.DropDownListFor(model => model.SearchModel.LocationId, new SelectList(Model.Locations, "Id", "Name"), "", htmlAttributes: new { @class = "form-control" })
        <button type="submit" class="btn btn-primary">Submit</button>
    </p>
}