@model Repository.Models.RewardCode

@{
    ViewBag.Title = "RewardCode";
}

<h2>Gratulacje!</h2>
<p>Dzięki za wspaniałą pomoc, oto twoja nagroda.</p>
<p>@Html.DisplayNameFor(model => model.Code): @Html.DisplayFor(model => model.Code)</p>
<p>Kod możesz znaleźć również w zakładce "Moje nagrody" na swoim profilu.</p>

