@model Repository.Models.RewardCode

@{
    ViewBag.Title = "Nagroda";
}

<h2>Gratulacje!</h2>
<p>Dzięki za wspaniałą pomoc, oto twoja nagroda.</p>
<h4>Kod: <strong>@Html.DisplayFor(model => model.Code)</strong></h4>
<p>Otrzymany kod możesz znaleźć również w zakładce <strong>Moje nagrody</strong> na swoim profilu.</p>

